/* --- Banner ---*/
.B_Sect{
 display:flex;
 flex-direction: row;
 justify-content:center;
 align-items:center;
 flex-wrap:wrap;
}
.Logo{
	height:var(--size-height-logo);
	margin:10px;
}
.Title{
 font-size:var(--font-size-title);
 margin:10px;
}
.B_GrpBtn{
	display: flex;
	justify-content:space-around;
	flex-wrap: wrap;
	align-items: center;
    height:fit-content;
}


/* --- Page ---*/
.U_Sect{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	border:6px solid;
	height:var(--Height-section-default);
	background-color:cadetblue;
}
.U_GrpEmis{
	display:flex;
    flex-direction:column;
	align-items: center;
	height:var(--Height-section-default);
	width:60%;
}

.U_GrpImg{
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content:space-around;
    align-items: center;
	border-color: black;
	border-style: solid;
	height:var(--Height-section-default);
}
.U_GrpDescr{
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	border:3px solid;
	height:100%;
	width:100%;
}

.U_GrpEmis_ContDatas{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
}
.U_GrpEmis_ContDatas_ContContained{
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items: center;
 border:3px solid;
 border-color: black;

}
.U_GrpEmis_ContDescr{
	display:flex;
	flex-direction:column;
	align-items: center;
	height:var(--Height-section);
	width:39%;
}
.U_GrpImg{
	height:var(--Height-section);	
	width:39%;
	height:var(--Height-section-default);
}
.U_GrpImg_ContBtn{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items:center;
	height:15%;
	width:100%;
}
.U_GrpImg_ContImg{
	height: 84%;
}
.Form_Textarea{
	width: fit-content;
	min-width:95%;
	height:90%;
}
.Btn_Img{
	align-items:center;
    text-align: center;
    border-radius: 10px;
    height:fit-content;
    padding:5px;
    margin:5px;
	border-style: solid;
    border-color: black;
	max-width: 240px;
}
.Btn_Img:hover{
 scale:1.1;
 cursor:pointer;
}

@media screen and (max-width: 767px){/*-TELEPHONE PORTABLE LARG ECRAN < 768 PX ---------*/

.U_GrpEmis{
	width:200px;
}
.U_GrpDescr{
	width:60%;
}
.U_GrpImg{
	width:95%;

}

}