/* en form de l'icone du pouce --*/
.cont_pouces{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100px;
    width:100px;
    border-style:solid;

}

.pouce_creux {
    position:relative;
    right:18px;
    font-size: 40px;
    z-index: 1;
  }
  .pouce_creux:hover {
    scale:1.1;
    cursor: pointer;
  }

  .pouce_plein {
    position:relative;
    right:-18px;
    font-size: 40px;
    color: #0fd97e;
    z-index: 2;
  }
.pouce_plein:hover {
    scale:1.1;
    cursor: pointer;
  }
