.banner_sect {
	color: black;
	padding: 12px;
	border-bottom: solid 3px black;
	display: flex;
	justify-content:space-around;
	flex-direction: column;
	align-items: center;
}

.banner_logo {
	/*object-fit:cover;*/
	height: 100px;
	width: 500px;
}
.banner_title {
	text-decoration: none;
}
.banner_grp_link{
	width:100%;
	display: flex;
	justify-content:space-between;
	align-items: center;
}

.banner_grp_link_cont {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	height: 50px;
}
