.login {
	color: black;
	/*text-align: right;*/
	padding: 12px;
	border-bottom: solid 3px black;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

.title {
	padding-left: 32px;
}

.logo {
	height: 80px;
	width: 150px;
}