body {
  margin: auto;
    font-family: 'Lato', arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primary-bg-color:#FD2D01;
  --primary-txt-color:white;
  --secondary-bg-color:#FFD7D7;
  --secondary-txt-color:Black;
  --tierce-bg-color:#4E5166;
  --tierce-txt-color:white;
}

img[class^="img_"]{
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.li_surligne{
  background-color:yellow;
}
.li_surligne:hover{
  scale:1.1;
  cursor:pointer;
}

label {
  background-color: var(--secondary-bg-color);
}

.form_input {
  border-color: var(--secondary_txt-color);
  border-width: 3px;
}

.text_data {
  font-size: 15px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  margin: 0px;
}

textarea {
  font-size: 14px;
}

.selectMouse:hover {
  scale: 1.1;
  cursor: pointer;
}
.hidden{
  visibility:hidden;
}
.visible{
  visibility:visible;
}