body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
   */
    font-family: 'Lato',
     sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primary-bg-color:#FD2D01;
  --primary-txt-color:white;
  --secondary-bg-color:#FFD7D7;
  --secondary-txt-color:Black;
  --tierce-bg-color:#4E5166;
  --tierce-txt-color:white;
}
