/*--- Variables globales */
:root {
  --primary-bg-color: #FD2D01;
  --primary-txt-color: white;
  --secondary-bg-color: #FFD7D7;
  --secondary-txt-color: Black;
  --tierce-bg-color: #4E5166;
  --tierce-txt-color: white;
  --height-section-connexion: 100px;
  --Height-section-default: 400px;
  --Height-HtLigne-default: 150px;
}

/* --- Mises en forme globales --*/
body {
  max-width: 1000px;
  margin: auto;
  font-family: 'Lato', arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img[class^="img_"] {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Label_Data,
.Text_Data {
  color: var(--secondary-txt-color);
  background-color: var(--secondary-bg-color);
  padding: 5px;
  margin: 3px;
}

.Text_Data {
  font-weight: 800;
}

.SubTitle {
  font-size: 20px;
  font-weight: 800;
  margin: 10px;
}

.Label_Data_Disable {
  font-weight: 100;
  margin: 2px;
  color: var(--secondary-bg-color);
  background-color: var(--tierce-bg-color);
}

.Text_Data_Disable {
  color: var(--tierce-txt-color);
  background-color: var(--tierce-bg-color);
  margin: 2px;
}

.Text_Input {
  color: var(--secondary-txt-color);
  border-style: solid;
  border-width: 3px;
  border-color: var(--secondary-bg-color);
  padding: 5px;
  margin: 3px;
}

.Textarea {
  font-size: 20px;
  font-weight: 800;
}

.SelectMouse:hover {
  scale: 1.1;
  cursor: pointer;
}

.Hidden {
  visibility: hidden;
}

.Visible {
  visibility: visible;
}

/*------- Mise en forme des boutons -----*/

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  height: fit-content;
  padding: 5px;
  margin: 5px;
  font-size: 15px;
  border-style: solid;
  border-color: black;
}

.Btn_Disable {
  font-size: 10px;
  background-color: var(--tierce-bg-color);
  color: var(--tierce-txt-color);

}

.Btn_Listening {
  text-decoration: none;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-txt-color);
}

.Btn_Listening:hover {
  scale: 1.1;
  cursor: pointer;
}
