/* --- Banner ---*/
.LNav_Sect {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	background-color: var(--secondary-bg-color);

}

.LContSubTitle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 80%;
	background-color: var(--secondary-bg-color);
}

/* --- Page ---*/
.L_Sect {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: var(--height-section-connexion);
}

.L_Grp_Data {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80px;
}

.L_GrpBtn {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
