/* --- Banner ---*/
.SNav_Sect {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	background-color: var(--secondary-bg-color);

}

.SContSubTitle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-weight: 800;
	width: 80%;
	background-color: var(--secondary-bg-color);
}

/* --- Page ---*/
.S_Sect {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100px;
}

.S_Grp_Data {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80px;
}

.S_GrpBtn {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
