/* --- Banner ---*/
.B_Sect{
 display:flex;
 flex-direction: row;
 justify-content:center;
 align-items:center;
 flex-wrap:wrap;
}
.Logo{
	height:var(--size-height-logo);
	margin:10px;
}
.Title{
 font-size:var(--font-size-title);
 margin:10px;
}
.B_GrpBtn{
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
	align-items: center;
    height:fit-content;
}
.B_GrpBtn_ContLeft {
	display: flex;
	justify-content:space-between;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height:fit-content;
	width:fit-content;
    padding:5px;
}

/* --- Page ---*/

